@model MyApp.Models.Item1


<p> Đi ăn @Model.Name</p>


<!-- Ở controller đòi trả ra item4, thì nó sẽ lấy Name của item4, thông qua Model.Name, rồi display-->

<!-- Ký hiệu acòong là để để bắt đầu một đoạn cs(c#) trong file cshtml;
Có thể hiểu model lần một phương thức đặc biệt để truyền đối tượng từ controller vào -->